<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS Is Fun</title>
    
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      body { padding-top:50px; }
    </style>
</head>
<body class="container">

<main>
    <!-- Display message if it exists -->
    <div id="messageBanner" class="alert" style="display: none;"></div>
  <div class="jumbotron">
    <div class="password-reset-form">
        <h2>Change Password</h2>
        <form id="passwordForm" onsubmit="submitForm(event)">
          <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
  
  <!-- New Password Form -->

  
  <script>
    function verifyPasswords() {
      const newPassword = document.getElementById('newPassword').value;
      const confirmPassword = document.getElementById('confirmPassword').value;
  
      if (newPassword !== confirmPassword) {
        alert('Passwords do not match!');
        return false; // prevent form submission
      }
      return true; // allow form submission
    }

    async function submitForm(event) {
        event.preventDefault();

        if (!verifyPasswords()) return;
    
        const newPassword = document.getElementById('newPassword').value;
        const data = { newPassword };
    

        const response = await fetch('<%= url %>', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        const banner = document.getElementById('messageBanner');

        if (!response.ok) {
            banner.className = 'alert alert-danger';
            banner.textContent = await response.text();
            banner.style.display = 'block';
            return
        }
        
        banner.className = 'alert alert-success';
        banner.textContent ="Password successfully changed!";
        
        banner.style.display = 'block';
    
    }
</script>
</main>

</body>
</html>